<h1>Edit your message</h1>
  <form action="/" method="post">
    <textarea name="message" rows="5" cols="50"
              placeholder="Type message here"> <%= @message.text %>
    </textarea>
    <input type="submit">
  </form>
<br>
