<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Messaging App</h1>
    <form action="/message" method="post">
      <input type="text" name="message" placeholder="Type message here">
      <input type="submit" value="Submit">
    </form>
    <br>
    <% @messages.reverse.each do |message| %>
      <div>
        <a href="/messages/<%= message.id %>">
          <%= message.text.slice(0...20) %></a> --
          <%= message.created_at %>
      </div>
    <% end %>
  </body>
</html>
