<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href=<%= url("/css/master.css") %>>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Messaging App</h1>
      <form action="/message" method="post">
        <textarea name="message" rows="3" cols="40"
                  placeholder="Type message here"></textarea>
        <input type="submit" value="Submit">
      </form>
    <br>

    <% @messages.reverse.each do |message| %>
      <div>
        <a href="/message/<%= message.id %>">
          <%= message.shorten %></a> --
          <%= message.format_time %>
      </div>
    <% end %>

  </body>
</html>
